unpack_open_source
.externalNativeBuild
\.*code-workspace
.gradle
.vscode
.vscode/*.json
output
build/log/
build/tools/bep_env/bep_env.conf
CloudPhoneClient/AudioPlay/jniLibs/
CloudPhoneClient/AudioPlay/.cxx/
CloudPhoneClient/VideoDecoder/build/
CloudPhoneClient/VideoDecoder/Control/VmiDef.h
CloudPhoneService/VmiAgent/Include/
Common/build
Common/Libs
Common/libs
Common/obj
Common/Communication/libs
Common/Communication/obj
CloudPhoneClient/Libs/
CloudPhoneClient/RemoteRender/build
CloudPhoneClient/RemoteRender/libs
CloudPhoneService/VmiAgent/Libs
CloudPhoneService/VmiAgent/libs
CloudPhoneService/VmiAgent/obj
CloudPhoneClient/VideoEngine/NdkDecoder/libs/arm64-v8a
CloudPhoneClient/VideoEngine/NdkDecoder/obj/local/arm64-v8a
CloudPhoneClient/VideoEngine/CloudPhoneUI/app/src/main/cpp/VmiDef.h
CloudPhoneService/VideoEngine/Media/libs
CloudPhoneService/VideoEngine/Media/obj
CloudPhoneService/VideoEngine/GpuEncTurbo/libs
CloudPhoneService/VideoEngine/GpuEncTurbo/obj
open_source_demo/Demo_openH264/
third_party/Demo_llvm/*.tar.xz
third_party/Demo_llvm/*.zip
third_party/Demo_llvm/*.exe
third_party/Demo_llvm/*.disable
third_party/Demo_mesa/*.zip
third_party/Demo_mesa/*.tar.xz
third_party/Demo_mesa/*.disable
third_party/build/
third_party/Demo_libdrm/*.zip
third_party/Demo_libdrm/*.tar.gz
open_source_demo/Demo_googletest/*.zip
open_source_demo/Demo_googletest/*.tar.gz
open_source_download
third_party/Demo_qemu30/*.zip
third_party/Demo_qemu30/*.tar.gz
*.log

Test/googletest*
Test/Fuzz/googletest*
Test/build
Test/Fuzz/build
